*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.top{
    background-color: #1F2937;
    color: white;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 100px;
}
.logo{
    font-size: 28px;
    font-weight: 700;
    color: #f9faf8;
    font-family: monospace;
}

.links{
    list-style-type: none;
    display: flex;
    gap: 34px;
    margin: 0;
}
.links a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-family: monospace;
}
.content{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.text{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 30px 10px 0 ;
}
.image-wrapper{
    flex: 1;
}
.krishna-image{
    width: 640px;
    height: 360px;
    border-radius: 20px;
    margin-top: 40px;
}
.hero{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    padding-right: 50px;
}
.subtext{
    font-size: 20px;
    color: #e5e7eb;
    font-family: monospace;
    margin-bottom: 30px;
    margin-top: 30px;
}
.test{
    border: 2px red solid;
}
.contribute{
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 20px;
}
.contribute input[type="text"] {
    flex: 3;
    background-color: #1F2937;
    border: 2px #474e56 solid;
    border-radius: 30px;
    padding: 10px;
    font-size: 18px;
    color: #f9faf8;
}
.gotoplaylist{
    /* flex: 1; */
    text-decoration: none;
    text-align: center;
    background-color:#3882F6;
    color: #f9faf8;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    font-family: monospace;
}
.playlist-header{
    font-size: 48px;
    font-weight: extra-bold;
    color: #1F2937;
    margin-top: 36px;
    font-family: monospace;
}
.songs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    width: 300px;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    /* gap: 2px; */
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    padding: 46px 200px 36px 200px;
    justify-content: center;
}
.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card a{
    text-decoration: none;
    text-align: center;
    background-color:#3882F6;
    color: #f9faf8;
    border: none;
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.quote-block{
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 46px 290px 36px 290px;
}
.quote{
    font-size: 36px;
    font-style: italic;
    
}
.author{
    align-self: flex-end;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
}
.footer{
    font-size: 22px;
    background-color: #1F2937;
    color: #f9faf8;
    align-self: stretch;
    text-align: center;
    padding: 36px 0 36px 0;
}
.spotify-wrapper{
    display: flex;
    align-self: stretch;
    padding: 46px 290px 36px 290px;
}
.spotify{
    background-color:#3882F6;
    color: #f9faf8;
    border-radius: 7px;
    font-family: monospace;
    display: flex;
    gap: 16px;
    flex: 1 1 auto;
    justify-content: space-between;
    padding: 46px 200px 46px  100px;
}
.spotify-wrapper a{
    text-align: center;
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
    border: 2px white solid;
    border-radius: 13px;
    padding: 8px;
   align-self: center; 
}
.spotify-content h2 {
    font-size: 22px;
}
.spotify-content {
    font-size: 18px;
}
